.row {
    width: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 23px;
    padding: 30px 0;
}
.card_title {
    font-size: 25px;
    padding-left: 15px;
    margin-top: 15px;
}
.card_subtatle {
    padding-left: 13px;
    margin-top: 16px;
    color: #898989;
    font-weight: 400;
}
.price {
    padding-left: 13px;
    margin-top: 16px;
    font-weight: 700;
}
.card {
    background-color: #F4F5F7;
    height: 470px;
}
.div_link {
    text-align: center;
    margin: 19px 0;
}
.link {
    text-decoration: none;
    border: 1px solid #E89F71;
    color: #E89F71;
    padding: 11px 78px;
    transition: color 0.3s linear, background-color 0.3s linear;
}
.link:hover {
    color: #fff;
    background-color: #E89F71;
}
.dred {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    border-top: 2px solid #000;
    color: #000;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s linear;
}
.dred:hover {
    background-color: #e23434;
    color: #fff;
}